body {
    font-family: "Gilroy Medium";


    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

}

.gallery {
    display: flex;
    width: 75%;
    height: 200px;
    z-index: 1;
}

.gallery img {
    min-width: 0;
    flex: 1 1 1px;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s;
}

.gallery img:hover {
    flex: 2 1 1%;
    opacity: 1;
}

.navbar {
    align-items: center;
    justify-content: center;
}

.navbar a {
    margin: 0;
}

.navbar a:hover {
    color: blue !important;
}

.full {
    padding: 50px;
    height: 90vh;
    display: flex;
    justify-content: center;
    transform: translateY(-10px);

}

.top-row {
    margin: 20px 20px 0px 20px;
}

.move-up {

    transform: translateY(-120%);
    transition: transform .25s ease;
}

.move-down {

    transform: translateY(0px);
    transition: transform .25s ease;
}


#image {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* border: black solid 2px;
    border-radius: 10px; */
    padding: 10px
}

#mainView {
    position: relative;
    /* right: 2000px; */
}

#codeView {
    position: relative;
    left: 3000px;
}

#codeArrow {

    padding: 8px 16px;
    position: fixed;
    right: 30px;
    top: 40vh;
    font-size: 90px;
}

#demoArrow {
    position: relative;
    /* right: 30px;*/
    top: 35vh;
    font-size: 90px;
    cursor: pointer;

}

aside p:hover {
    transform: scale(1.8);
    transition: transform .5s ease;
    cursor: pointer
}

/* copied from Demo styles.css */
.headerButtons {
    display: inline-block;
    width: 100%;
    position: fixed;
    left: 3px;
    top: 0px
}

/*need to add mobile responsive styling */
.buttonOveride {
    display: inline-block;
    width: 33%;
    border-radius: 0%;
}

h2 {
    font-size: 4vw;
}

.card {
    margin: .2rem;
    padding: 1.5rem;
}

.fullWidth {
    height: auto;
    max-width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.spaceBetween {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 1vh;
}

.images {
    margin: 40px;
    padding: 75px;
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.push {
    margin-top: 5vh;
}

.marginBuffer {
    margin-top: 12vh;
    margin-bottom: 12vh;

}

.imgTitle {
    text-decoration: underline;
}

#codeView .content {
    opacity: 0;
    transition: opacity 0.5s;
}

#codeView .content:hover {
    transition: opacity 0.5s;
    opacity: 1;
}

#codeView button {
    margin-left: 10px
}

#codeView section .card {
    height: 26vh;
}

.footer {
    position: fixed;
    bottom: 1px;
    width: 100%;
    padding: 1rem
}

#rectangle {
    position: absolute;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.2);
    /* pointer-events: none; */
    z-index: 9999;
}

#select:hover {
    cursor: pointer;
}